header {
  background-color: #333333;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.kesu {
  margin: 0px;
}

body {
  margin: 0px;
  padding-top: 60px;
  background-color: #eeeff0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 30px;
}

h1 {
  padding: 5px;
}

li {
  padding: 0px;
  display: inline-block;
}

div {
  padding: 15px;
}

.oogazou {
  font-size: 150%;
  margin: 3%;
  padding: 0px;
  display: flex;
}

.linkcolor {
  color: #fff;
  text-decoration: none;
}

.meigen{
  font-size: 150%;
}

.katagazou{
 padding: 0px;
 margin: 0%
}